body{
    background-color: black;
    color: rgb(255, 238, 0);
    
}

P{
    rotate: 5deg;
    font-size: 200px;
    font-family: "velzyland", sans-serif;
font-weight: 400;
font-style: normal;
}

.next{
    font-size: 80px;
    font-family: "velzyland", sans-serif;
}

