
/*---------normal text---------*/

body{
    background-image: url(img/flash.gif);
    color: rgb(255, 238, 0);
    
}

P{
    rotate: 5deg;
    font-size: 200px;
    font-family: "velzyland", sans-serif;
font-weight: 400;
font-style: normal;
}

h1{
    font-size: 100px;
    font-family: "velzyland", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(26, 255, 0);
}

figcaption {
       font-size: 200px;

}

#imgg{
display: flex;
align-items: right;
}


/*---------flashing text---------*/

.blinking-text {
            text-align: center;
            margin-top: 20%;
            font-size: 24px;
            color: green;
            animation: blink 1s infinite;
        }



       h1 {
  text-align: center;
  letter-spacing: 8px;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.8s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.8s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.8s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
} 


/*---------boxes---------*/


.outside{
    border: 5px dashed rgb(0, 255, 195);
    padding: 20px;
    margin: 20px;
    background-image: url(img/oww3.gif);
}

.insides{
    border: 5px dashed rgb(247, 226, 0);
    padding: 20px;
    margin: 20px;
    background-image: url(img/oww2.gif);
}

.insidea{
    border: 5px dashed rgb(247, 226, 0);
    padding: 20px;
    margin: 20px;
    background-image: url(img/oww.gif);
    }

    .eye {
        background-image: url(img/eye.gif)
    }


  /*---------music ---------*/

music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}

